* {
    margin: 0; padding: 0;
}



body {
    background-color: #f1f2f7;
}

.breadcrumb-container {
    box-sizing: border-box;

    margin: 10px 0;
    border: 1px solid #d1dbe5;
    padding: 10px;
    width: 1000px;
    background-color: white;
    box-shadow: 0 0 2px #ccc;
}
